body {
font-family: 'Reboto Condensed', sans-serif;
}

p {
    font: size 25px;
    }
    #primeiro-p {
      font-size: 30px
}
      .paragrafo-bold{
        font-weight: 700;
        }
